.dashboard-page {
  padding-top: 20vh;
  position: relative;
}

.background-img {
  width: 100vw;
  height: 70vh;
}

.dashboard-heading {
  position: relative;
}

.image-caption {
  position: absolute;
  text-align: center;
  top: 20vh;
  left: 10vw;
  padding: 3%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.353),
    rgba(255, 255, 255, 0.581),
    rgba(255, 255, 255, 0.714),
    rgba(255, 255, 255, 0.879),
    white,
    rgba(255, 255, 255, 0.879),
    rgba(255, 255, 255, 0.714),
    rgba(255, 255, 255, 0.581),
    rgba(255, 255, 255, 0.353),
    rgba(255, 255, 255, 0)
  );
  font-weight: bold;
  color: black;
  width: 80vw;
  padding: 3%;
  z-index: 10;
}

.image-caption h1 {
  font-size: 3.5vw;
}

.image-caption p {
  font-size: 2vw;
}

.book-sell-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  font-family: "cursive";
  padding: 1% 0;
  margin-top: 1%;
  color: rgb(23 37 84);
}

.book-sell-heading h1 {
  border: 3px solid rgb(23 37 84);
  padding: 0 1%;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .image-caption h1 {
    font-size: 4.5vw;
  }

  .image-caption p {
    font-size: 2.8vw;
  }

  .book-sell-heading {
    font-size: 4vw;
  }
}

@media (max-width: 850px) {
  .image-caption h1 {
    font-size: 5.5vw;
  }

  .image-caption p {
    font-size: 3.3vw;
  }

  .book-sell-heading {
    font-size: 5vw;
  }
}

@media (max-width: 650px) {
  .book-sell-heading {
    font-size: 6vw;
  }
}

@media (max-width: 450px) {
  .book-sell-heading {
    font-size: 8vw;
  }
}
