.profile-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 10vh;
}

.profile-photo-div {
  width: 100%;
  padding: 8% 0;
}

.profile-photo {
  width: 40vh;
  height: 40vh;
  border: 2px solid black;
  border-radius: 100%;
}

.profile-name-div {
  padding: 0 12%;
}

.profile-name-p1 {
  font-size: 3vw;
  font-weight: bold;
}

.profile-username-p1 {
  font-size: 1.5vw;
  font-style: italic;
  color: rgb(190, 190, 190);
}

.edit-photo-button {
  background-color: rgb(27, 55, 131);
  padding: 1% 2%;
  border-radius: 10px;
  color: white;
  margin: 5% 0 0 30%;
  text-wrap: nowrap;
}

.edit-photo-button:hover {
  background-color: rgb(38, 67, 147);
}

.edit-photo-button:active {
  background-color: rgb(27, 53, 125);
}

.profile-input,
.reset-password-inut {
  width: 40vw;
  margin: 3%;
}

.profile-input input,
.reset-password-inut input {
  width: 100%;
  height: 6vh;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 2%;
}

.profile-input label,
.reset-password-inut label {
  font-size: 1.2vw;
}

.update-profile-button,
.reset-profile-button {
  background-color: rgb(27, 55, 131);
  padding: 1% 2%;
  border-radius: 10px;
  color: white;
  margin-left: 45%;
  text-wrap: nowrap;
}

.update-profile-button:hover,
.reset-profile-button:hover {
  background-color: rgb(38, 67, 147);
}

.update-profile-button:active,
.reset-profile-button:active {
  background-color: rgb(27, 53, 125);
}

.resetpw-heading {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 3%;
}

@media (max-width: 750px) {
  .profile-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .profile-name-div {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .profile-name-p1 {
    font-size: 5vw;
  }

  .profile-username-p1 {
    font-size: 3.5vw;
  }

  .edit-photo-button {
    margin: 3% 0% 10% 0;
  }

  .profile-input,
  .reset-password-inut {
    width: 70vw;
  }

  .profile-input label,
  .reset-password-inut label {
    font-size: 2.8vw;
  }

  .resetpw-heading {
    font-size: 4vw;
    margin-top: 5%;
  }
}
